@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #050816;
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 30s linear infinite;
}