@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  max-width: 100%;
  overflow-x: hidden;
}

/* Hide scrollbars globally while preserving scroll functionality */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}